.header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0067A3;
    flex-shrink: 0;
    h1 {
        font-size: 28px;
    }
    @media screen and (max-width: 450px) {
        justify-content: end;
        h1{
            display: none;
        }
    }
}