:root {
    --header-height: 48px;
    --footer-height: 56px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;

    @media screen and (max-width: 1200px) {
        overflow-y: auto;
        background-color: #0079BF;
    }
}

* {
    box-sizing: border-box;
}